<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <th:block th:replace="fragments/fragments :: head('Reset Password')"></th:block>
    </head>
    <body>
    
       <!-- Navigation-->
        <div th:replace="fragments/fragments :: profileNav"></div>
        
        <!-- Page content-->

		<article class="mb-4" id="font-style">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
	
					<div class="col-md-10 col-lg-8 col-xl-7">
						<form th:action="@{/password/resetPassword}" method="post" novalidate class="needs-validation">
						
						
						<div class="p-3 py-5">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<h4 class="text-right">Reset Password</h4>
							</div>
							
							<hr>
							
							<!-- alert -->
							<div th:if="${errorMessage != null}">
								<div th:replace="fragments/fragments :: alert(${errorMessage})"></div>
							</div>
							
							<input hidden="hidden" th:value="${token}" name="token"> 
							
							<div class="row mt-3">
								<div class="col-md-12">
									<label class="col-form-label">New Password</label>
									<div th:replace="fragments/fragments :: passwordField('validationPassword', 'newPassword')"></div>
								</div>
								
								<div class="col-md-12">
									<label class="col-form-label">Confirm New Password</label>
									<input type="password" name="confirmNewPassword" class="form-control" id="confirmPassText" required minlength="3" oninput="checkPasswordMatch(this)">
								</div>
							</div>
							
							<div class="mt-4 text-center">
								<button class="btn btn-dark profile-button" type="submit">Change Password</button>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</article>
		
	
		
	
		<div style="height: 500px"></div>
        
        <!-- Footer-->
        <div th:replace="fragments/admin-fragments :: footer"></div>
        
        <!-- Bootstrap core JS-->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-select/js/bootstrap-select.min.js}"></script>
		
		<script th:src="@{/js/main-script.js}"></script>
		<script th:src="@{/js/password-validation.js}"></script>
		
		<script type="text/javascript">
			$(document).ready(function (){
				function checkPasswordMatch(confirmPassword) {
					if(confirmPassword.value != $("#validationPassword").val()){
						confirmPassword.setCustomValidity("Passwords do not match !!");
					}
					else{
						confirmPassword.setCustomValidity("");
					}
				}
			});
		</script>

    </body>
</html>
