<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/fragments :: head(${author.firstName}+' Posts')"></th:block>
    </head>
    <body>
        <!-- Navigation-->
        <div th:replace="fragments/fragments :: navigation"></div>
        
        <!-- Page Header-->
        <div th:replace="fragments/fragments :: pageHeader"></div>
        
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                
				<div class="p-2 d-flex flex-row align-items-center mb-2">
					<img th:src="@{${author.imagePath}}" width="40" class="rounded-circle">
					<div class="d-flex flex-column ms-2">
						<span class="d-block fw-bold">[[${author.fullName}]]</span>
						<small class="text-muted">Blogging since <th:block th:text="${#temporals.format(author.createdTime, 'MMMM dd, yyyy')}"></th:block></small>
					</div>
				</div>
				
                <th:block th:unless="${totalElements > 0}">
                	<span>No posts found.</span>
                </th:block>
                
                 <th:block th:each="post : ${posts}">
                   <th:block th:replace="view/view :: post-view"></th:block>
                </th:block>
                    
                  
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><!-- pagination -->
					<div th:replace="fragments/pagination :: paginationGeneral"></div></div>
                </div>
            </div>
        </div>
        
        <!-- Footer-->
        <div th:replace="fragments/fragments :: footer"></div>
        
        <!-- Bootstrap core JS-->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
